@charset "UTF-8";

fieldset{
    padding:.35em .625em .75em;
    margin:0 2px;
    border:1px solid silver;
    border-color:green;
    border-width: 1px;
}

legend{
    padding:.5em;
    border:0;
    width:auto;
    color: green;
}

div#edgex-support-scheduleresult-app_detail {
    display: none;
    position:absolute;
    top:0%;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    width: 50%;
    height: 240px;
    z-index: 990;
}

div#edgex-support-event-app_tasks{
    display: none;
    position:absolute;
    top:100%;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    width: 95%;
    height: 480px;
    z-index: 990;
}


div#edgex-support-eventtoexecute-app_tasks{
    display: none;
    position:absolute;
    top:200%;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    width: 95%;
    height: 480px;
    z-index: 990;
}


div#edgex-support-eventexecuted-app_tasks{
    display: none;
    position:absolute;
    top:300%;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    width: 95%;
    height: 480px;
    z-index: 990;
}